# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution
build/
dist/
*.egg-info/
*.egg
*.spec

# PyInstaller
*.manifest

# Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Project specific
presentation/
*.log
temp/
tmp/
